**/data/
**/decades_native
**/decades_base
**/decades_decoupled_implicit
**/__pycache__
**/sim
**/*_sim
**/a.out
**/epochStats
**/err.txt
**/out.txt
**/out_data.txt
**/out_indices.txt
**/out_indptr.txt
**/S_edge_list.tsv
**/SSSP_out.txt
**/VE_out.txt
**/PR_out.txt
